{% extends "base.html" %}
 {% block content %}
     <style>
        .icons{
             position : absolute;
             right : 5%;

        }
    </style>
    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add To Do List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST"> {% csrf_token %}
  <div class="mb-3">
    <label for="to_do_list" class="form-label">Title</label>
    {{form.to_do_list}}
  </div>
  <div class="mb-3">
    <label for="due_date" class="form-label">Due Date</label>
{{form.due_date}}  
</div>
  <div class="mb-3 form-check">
    {{form.label}}
    <label class="label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <div class="text-center mt-5">
     <h2>To Do List <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  +
</button> </h2>
  </div>
  <hr />
  <div class = "row">
    {% for note in notes_todo %}
    <div class="card">
        <div class="card-body">
            <h4>
                {{ note.to_do_list }} 
                <span class="badge bg-{{note.get_label_display}}">
                    {{note.due_date}}
                </span>
                <span class="icons">
                    <a href="{% url 'finish-item' note.id %}" style="color:black"> <i class="fas fa-check-circle"></i></a>
                    <a href="{% url 'delete-item' note.id %}" style = "color:red"> <i class="fas fa-trash-alt"></i></a>
               </span>
            </h4>
     </div>
    </div>
    {% endfor %}
  </div>

    <div class="text-center mt-5">
     <h2>Finished List </h2>
  </div>
  <hr />
  <div class = "row">
    {% for note in notes_finished %}
    <div class="card">
        <div class="card-body">
            <h4>
                {{ note.to_do_list }} 
                <span class="badge bg-{{note.get_label_display}}">
                    {{note.due_date}}
                </span>
                <span class="icons">
                    <a href="{% url 'recover-item' note.id %}" style="color:black"> <i class="fas fa-times-circle"></i></a>
                    <a href="{% url 'delete-item' note.id %}" style = "color:red"> <i class="fas fa-trash-alt"></i></a>
               </span>
            </h4>
     </div>
    </div>
    {% endfor %}
    
  </div>
 {% endblock content %}